<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeJS - Estudo Nodemon</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        .header{
            width: 100%;
            height: 200px;
            background-color: #202020;
            border-radius: 5px;
        }
        .header h1{
            color: #fefefe;
            font-family: "Open-Sans",sans-serif;
            font-size: 20px;
            float: right;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Olá</h1>
    </div>
</body>
</html>